# =========================
# Python / Flask
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment / Secrets
.env
.env.*
!.env.example

# =========================
# React / Vite
# =========================
node_modules/
dist/
.vite/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*